* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.ttf);
}

:root {
    --color-yellow: #ECBC13;
    --color-dark-yellow: #cba312;
    --color-black: #252525;
    --color-dark-black: #000;
    --color-white: #fbfbfb;
    --color-dark-white: #d2d2d2;
}

html,
body {
    height: 100%;
    width: 100%;
    display: block;
}

body {
    font-family: 'Helvetica';
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: var(--color-black);
}

button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button.btn_principal_yellow {
    background-color: var(--color-yellow);
    font-weight: bold;
    padding: 10px 20px;
    font-size: 30px;
    border: #000 solid 1px;

    &:hover {
        background-color: var(--color-dark-yellow);
        transition: background-color .5s;
    }
}

button.btn_grande {
    font-size: 30px;
    padding: 10px 20px;
}

button.btn_mediano {
    font-size: 15px;
    padding: 10px 10px;
}

button.btn_pequeno {
    font-size: 10px;
    padding: 5px 10px;
}



button.btn_principal_black {
    background-color: var(--color-dark-black);
    font-weight: bold;
    color: var(--color-yellow);

    &:hover {
        background-color: var(--color-black);
        transition: background-color .5s;
    }
}

button.btn_secondary {
    background-color: var(--color-white);
    font-weight: bold;
    border: #000 solid 1px;

    &:hover {
        background-color: var(--color-dark-white);
        transition: background-color .5s;
    }
}

.row {
    --bs-gutter-x: 0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}

.flotante{
    position: absolute;
    top: 90%;
    left: 90%;
}

/* Estilo para la lista de entregas deshabilitada */
#entregas[disabled] {
    background-color: #dbdbcf; /* Cambia el color de fondo a gris */
}

#guardarDatosButton {
    margin-top: 30px;
    padding: 10px 20px;
    border: 2px solid #4CAF50; /* Color del borde verde */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #E0F2F1; /* Fondo verde suave */
    color: #000; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer;
  }
 