@font-face{
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-color: #252525;
}

/* TITULO Y LOGO */
.header {
    text-align: center;
    margin-top: 25vh; /* Centramos verticalmente el contenedor principal */
    margin-left: 90vh;
}

.v-line{
    border-left: thick solid #000;
    height:80%;
    left: 50%;
    position: absolute;
    top: 100px;
   }

.login_div {
    width: 500px; /* Ajusta el ancho según sea necesario */
    height: 550px; /* Ajusta la altura según sea necesario */
    background-color: #dddddd; /* Color del cuadrado */
    position: absolute;
    left: 23%; /* Posición a la izquierda */
    transform: translateX(-50%); /* Centrar horizontalmente */
    top: 20%; /* Posición vertical */
    text-align: center; /* Alinear el texto al centro */
    box-sizing: border-box; /* Incluir el borde y el relleno en el ancho y la altura */
    border-radius: 20px;
}




/* LOGO */
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* TITULO */
.title {
    color: #ffffff;
    font-size: 90px;
    margin-bottom: 20px;
}

/* AMARILLO PARA EL BITE */
.amarillo {
    color: #ECBC13;
}

/* INPUTS PROPS */
.login_div input[type="text"],
.login_div input[type="password"] {
    width: 300px; /* Ajusta el ancho según sea necesario */
    padding: 10px; /* Ajusta el relleno según sea necesario */
    margin-bottom: 10px; /* Espacio entre los campos */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Borde redondeado */
    font-size: 16px;
}

/* BOTONES GENERAL PROPS */
.btn {
    background-color: #ECBC13; /* Color de fondo */
    color: black; /* Color del texto */
    padding: 10px 20px; /* Relleno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cursor de puntero */
    font-weight: bold; /* Negrita */
    display: block; /* Mostrar como bloque */
    margin: 10px auto; /* Centrar horizontalmente */
}

/* BOTON LOGIN PROPS */
#login{
    width: 27%; /* Ancho del botón al 100% */
    height: 10%;
    font-size: 30px;
    background-color: #252525;
    color: #ECBC13; /* Color de fondo */
    margin-bottom: 20px;
}

/* BOTON REGISTRO PROPS */
#registro{
    width: 23%; /* Ancho del botón al 100% */
    height: 7%;
    font-size: 14px;
    background-color: #dddddd; /* Color del cuadrado */
    border: #000;
    border-style:solid;
    border-width: 2px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 0; /* Eliminar el margen inferior predeterminado */
}

.icons_login {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.btn :hover{
    background-color: #252525;
}

.inputs {
    margin-top: 150px;
    display: flex;
    flex-direction: column; /* Organiza los elementos en columnas */
    align-items: center;
    justify-content: center;
}

.inputs input[type="text"],
.inputs input[type="password"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px; /* Agregar un margen inferior */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.input-wrapper {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en cada contenedor */
}

.input-label {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Agregar un margen inferior */
}