@font-face{
    font-family: 'Helvetica';
    src: url(../fonts/Helvetica-Bold.ttf);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    background-color: #252525;
}

/* TITULO Y LOGO */
.header {
    text-align: center;
    margin-top: 20vh; /* Centramos verticalmente el contenedor principal */
}

/* LOGO */
.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* TITULO */
.title {
    color: #ffffff;
    font-size: 90px;
    margin-bottom: 20px;
}

/* AMARILLO PARA EL BITE */
.amarillo {
    color: #ECBC13;
}

/* CONTENEDOR DE LOS BOTONES */
.button_container {
    text-align: center;
    margin-top: 200px;
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flex a columna */
    align-items: center; /* Centrar horizontalmente los elementos */
}

/* ESTILO DE LOS BOTONES */
.button_container button {
    margin: 10px; /* Espacio entre los botones */
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 200px; /* Establecer el ancho fijo para los botones */
}

/* BOTON LOGIN */
.button_container .login {
background-color: #ECBC13;
color: black;
}

/* EFECTO HOVER */
.button_container button:hover {
    background-color: #555;
}

/* QUITAMOS LO AZUL DE LOS ENLACES */
a{
    text-decoration: none;
}

button{
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.login_btn{
    font-size: 30px;
    height: 50px;
    background-color: #ECBC13;
    color: #252525;
    font-size: 30px;
}

.register_btn{
    border: #000;
    width: 100px;
    border-width: 2px;
    border-style: solid;
    width: 50px;
}

/* Media queries para diferentes tamaños de pantalla */
@media screen and (max-width: 600px) {
    .title {
        font-size: 60px;
    }

    /* Cambiar la dirección del flex a columna en dispositivos pequeños */
    .button_container {
        flex-direction: column;
    }
}
