.btn_guardar {
    margin-left: 52%;
    padding: 10px 20px;
    background-color: var(--color-dark-black);
    font-weight: bold;
    color: var(--color-yellow);
}

.formLocal{
    margin-left: 7%;
}
.divImg{
    display: block;
}

.divImg p{
    position: relative;
}

.divImg img{
    position: relative;
}


