@import url('../main.css');

.navbar {
    background-color: #252525;
    height: 10%;
}

.navbar-brand .title {
    color: var(--color-white);
}

.navbar-brand .title .amarillo {
    color: var(--color-yellow);
}

.navbar-nav .nav-item {
    margin: 0 20px;
    cursor: pointer;
}

.navbar-nav .nav-item i {
    color: var(--color-white);
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.navbar-nav .nav-item i.activo {
    color: var(--color-yellow);
    width: 40px;
    height: 40px;
    font-size: 40px;
}

.row {
    margin: 0;
}

.main-container {
    position: relative;
    background-color: #ececec;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
    display: block;
}

.left-column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-right: 1px solid #252525;
    height: 100%;
}

.left-column-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.left-column-container>h3{
    text-align: center;
}

.left-column-container-buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
}

.left-column-container-buttons a button {
    margin: 10px;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);

    &:hover {
        background-color: var(--color-yellow);
        transition: background-color .5s;
    }

}