body {
    position: relative;
    display: block;
}

.landing-main-container {
    width: 100%;
    height: 90vh;
    position: sticky;
    top: 0;
}

/* ---------------- NAVBAR ---------------- */

#navbar-landing {
    background-color: var(--color-black);
}

.navbar-title {
    color: var(--color-white);
    font-size: 30px;
}

ul.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: end;
}

#navbar-landing-list {
    justify-content: end;
}

.navbar-landing-list-item {
    margin: 0 20px;
}

.navbar-landing-list-item a {
    color: var(--color-white);
    font-size: 20px;

    &:hover {
        color: var(--color-yellow);
    }

}

.navbar-landing-list-item-comenzar {
    border: 1px solid var(--color-white);
    border-radius: 5px;

    &:hover {
        background-color: var(--color-yellow);
    }

}

.navbar-landing-list-item-comenzar a:hover {
    color: var(--color-black);
}

/* ---------------- MAIN PAGE ---------------- */

.container-landing-main {
    display: flex;
    height: 85%;
    padding: 25px;
}

.container-landing-main-izq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 50%;
}

.container-landing-main-der {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.container-landing-main-der img {
    width: 80%;
}

.container-landing-main-izq h1 {
    font-size: calc(1.375rem + 3vw);
    color: aliceblue;
}

.container-landing-main-izq p {
    color: aliceblue;
}


/* ---------------- PAGE 1 ---------------- */

.container-landing-page {
    width: 100%;
    height: 80vh;
    background-color: var(--color-white);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    border: 1px solid var(--color-black);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.241);
    overflow-y: auto;
    margin-bottom: 300px;
}


.container-landing-page .title {
    width: 100%;
    padding: 10px 25px 25px 25px;

    cursor: pointer;
}

.page1 {
    top: 10%;
}

.page2 {
    top: 15%;
}

.page3 {
    top: 20%;
    display: block;
}

.page1 .content {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding-left: 7%;
}

.page1 .content p {
    width: 50%;
    min-width: 300px;
    max-width: 500px;
}

.page1 img {
    position: absolute;
    width: 30%;
    right: 10%;
}

.footer-landing-page {
    color: var(--color-white);
    background-color: var(--color-black);
    position: sticky;
    top: 70%;
}

/* ---------------- PAGE 2 ---------------- */

.content-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.content-row-text {
    padding: 10px;
    max-width: 400px;
}

.content-row img {
    width: 300px;
    height: 300px;
}

/* ---------------- PAGE 3 ---------------- */

.carousel-content {
    display: flex;
    justify-content: space-around;
    align-items: start;
    width: 100%;
    height: 100%;
}

#carouselProfiles {
    width: 70%;
    max-width: 1000px;
    height: 50%;
    border: 1px solid var(--color-black);
    padding: 20px;
}

.carousel-item-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-white);
}

.carousel-item-content .profiles-content {
    width: 50%;
}

.carousel-item-content .profiles-content a i {
    font-size: 50px;
    cursor: pointer;
}

.carousel-item img {
    width: 347px;
    height: 347px;
}

footer {
    border: 1px solid var(--color-black);
    box-shadow: 0px -5px 5px 0px rgba(0, 0, 0, 0.241);
}